<head>
    <link rel="stylesheet" href="CSS_Design.css">
</head>

<body style="padding-top: 40px">
    <div style="text-align: center;">
        <form method="GET" action="/" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">MAIN MENU</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/recommendations_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">RECOMMENDATIONS</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/wishlist_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">WISHLIST</button>
        </form>
    </div>
    <br>

    <fieldset>
        <legend>WELCOME TO MY BOOK RECOMMENDATION WEBSITE!</legend>
        <p style="text-align: justify;">
            Here, you are able to select from a wide variety of book genres, including fiction, nonfiction, 
            and poetry, and receive book recommendations based on your chosen preferences.  
        </p> 
        <p style="text-align: justify;">
            This website also features a wishlist option, wherein a user is able to save book titles that appeal to them to an individual
            wishlist. 
        </p>
        <p style="text-align: justify;">
            To get started, click either the 'RECOMMENDATIONS' button to receive recommendations, or the 'WISHLIST' button to view or change a saved wishlist.
            Navigation buttons can be found at the top of the website. 
        </p>
        <br>
        <div style="text-align: center;">
            <form method="GET" action="/recommendations_main_page" style="display: inline-block;">
                <button style="height: 50px; width: 175px;">RECOMMENDATIONS</button>
            </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <form method="GET" action="/wishlist_main_page" style="display: inline-block;">
                <button style="height: 50px; width: 175px;">WISHLIST</button>
            </form>
        </div>
        <br>
    </fieldset>
    <br>
</body>