<head>
    <link rel="stylesheet" href="CSS_Design.css">
</head>
<body style="padding-top: 120px;">
    <div style="text-align: center;">
        <form method="GET" action="/" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">MAIN MENU</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/recommendations_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">RECOMMENDATIONS</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/wishlist_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">WISHLIST</button>
        </form>
    </div>
    <br>

    <fieldset>
        <legend>BOOK&nbsp;&nbsp;RECOMMENDATIONS</legend>
        <p>Select one of the main book genres below to get started.</p>
        <p>(NOTE: You must <u>only choose one</u> of the options.) </p>
        <br><br>
        <div style="text-align: center;">
            <form method="GET" action="/recommendations_fiction" style="display: inline-block;">
                <button style="height: 50px; width: 150px;">FICTION</button>
            </form>
            &nbsp;
            <form method="GET" action="/recommendations_nonfiction" style="display: inline-block;">
                <button style="height: 50px; width: 150px;">NONFICTION</button>
            </form>
            &nbsp;
            <form method="GET" action="/recommendations_poetry" style="display: inline-block;">
                <button style="height: 50px; width: 150px;">POETRY</button>
            </form>
            <br><br><br>
            <form method="GET" action="/" style="display: inline-block;">
                <button style="height: 50px; width: 175px;">MAIN MENU</button>
            </form>
        </div>
        <br>
    </fieldset>
</body>