<head>
    <link rel="stylesheet" href="CSS_Design.css">
    <script src="Javascript_Insert_&_Delete_Design.js"></script>
</head>

<body style="padding-top: 20px;">
    <div style="text-align: center;">
        <form method="GET" action="/" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">MAIN MENU</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/recommendations_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">RECOMMENDATIONS</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/wishlist_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">WISHLIST</button>
        </form>
    </div>
    <br>

    <fieldset>
        <legend>&nbsp;ADD A BOOK TO YOUR WISHLIST&nbsp;</legend>
        <br>
        <p style="text-align: center;">Insert was successful!</p>
        <p>You can view these new changes by visiting the 'DISPLAY WISHLIST DATABASE' page located on the Wishlist Main Page.</p>
        <p>Click the 'WISHLIST' button to return to the Wishlist Main Page, or click the 'MAIN MENU' button to head back to the main menu.</p>
        <br>
        <div style="text-align: center;">
            <form method="GET" action="/" style="display: inline-block;">
                <button style="height: 50px; width: 175px;">MAIN MENU</button>
            </form>
            &nbsp;&nbsp;
            <form method="GET" action="/wishlist_main_page" style="display: inline-block;">
                <button style="height: 50px; width: 175px;">WISHLIST</button>
            </form>
        </div>
    </fieldset>
</body>