<head>
    <link rel="stylesheet" href="CSS_Design.css">
</head>

<body style="padding-top: 40px;">
    <div style="text-align: center;">
        <form method="GET" action="/" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">MAIN MENU</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/recommendations_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">RECOMMENDATIONS</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/wishlist_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">WISHLIST</button>
        </form>
    </div>
    <br>

    <fieldset>
        <legend>DISPLAY WISHLIST DATABASE</legend>
        <p style="text-align: justify;">
            Below is a table of the current users, along with their corresponding information and added book titles. 
        </p> 
        <p>
            Users with multiple book titles in their wishlist will have multiple rows. Users who do not have any book titles added to their wishlists
            will have one row, with the 'Book_Title' row blank.
        </p> 
        <br>

        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Book Title</th>
            </tr>
            <% data.forEach(function(user){ %>
                <tr>
                    <td>
                        <%=user.ID%>
                    </td>
                    <td>
                        <%=user.First_Name%>
                    </td>
                    <td>
                        <%=user.Last_Name%>
                    </td>
                    <td>
                        <%=user.Book_Title%>
                    </td>
                </tr>
            <% }) %>
        </table>
        <br><br>

        <div style="text-align: center;">
            <form method="GET" action="/" style="display: inline-block;">
                <button style="height: 50px; width: 175px;">MAIN MENU</button>
            </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <form method="GET" action="/wishlist_main_page" style="display: inline-block;">
                <button style="height: 50px; width: 175px;">WISHLIST</button>
            </form>
        </div>
        <br>
    </fieldset>
</body>