<head>
    <link rel="stylesheet" href="CSS_Design.css">
    <script src="Javascript_Insert_&_Delete_Design.js"></script>
</head>

<body style="padding-top: 40px;">
    <div style="text-align: center;">
        <form method="GET" action="/" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">MAIN MENU</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/recommendations_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">RECOMMENDATIONS</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form method="GET" action="/wishlist_main_page" style="display: inline-block;">
            <button style="height: 50px; width: 175px;">WISHLIST</button>
        </form>
    </div>
    <br>

    <fieldset>
        <legend>&nbsp;DELETE A BOOK FROM YOUR WISHLIST&nbsp;</legend>
        <p>Input an ID number and Book Title and press the 'Validate' button to validate them.</p>
        <p>(NOTE: The entered ID must be a whole number and the entered Book Title must be a string. If the entered ID or Book Title are invalid, the textboxes will turn red; otherwise, they will turn green.)</p>
        <p>After validating your inputs, the 'OK' button will appear; press it to delete the entered Book Title from your wishlist.</p>
        <br>
        <form method="POST" action="/wishlist_delete"> 
            <label for="wishlistUserID" style="font-size: 22px; font-family: Arial; color: rgb(124, 85, 61); text-align: justify;">ENTER ID:</label>
            <br>
            <p style="padding-left: 20px;">
                <input type="text" name="wishlistID" id="wishlistUserID" placeholder="ID" style="height: 35px; width: 380px; font-size: 20px;">
            </p>
            <br>

            <label for="wishlistBookTitle" style="font-size: 22px; font-family: Arial; color: rgb(124, 85, 61); text-align: justify;">ENTER BOOK TITLE:</label>
            <br>
            <p style="padding-left: 20px;">
                <input type="text" name="wishlistTitle" id="wishlistBookTitle" placeholder="Book Title" style="height: 35px; width: 380px; font-size: 20px;">
            </p>
            <br>

            <div style="text-align: center;">
                <input type="button" id ="validateButton" value="VALIDATE" style="height: 50px; width: 175px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button id="okButton" style="height: 50px; width: 175px; opacity: 0%;">OK</button>
            </div>
            <br>
        </form>
        <div style="text-align: center;">
            <form method="GET" action="/" style="display: inline-block;">
                <button style="height: 50px; width: 175px;">MAIN MENU</button>
            </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <form method="GET" action="/wishlist_main_page" style="display: inline-block;">
                <button style="height: 50px; width: 175px;">WISHLIST</button>
            </form>
        </div>
        <br>
    </fieldset>   
</body>